.ReactModal__Content {
  margin-right: 50% !important;
  inset: 40% auto auto 45% !important ;
}
@media (min-width: 992px) {
  .ReactModal__Content {
    flex-direction: row;
    width: 100rem;
    height: 40%;
  }
}
