main {
  margin-top: -7rem;
}
.Services {
  display: flex;
  flex-direction: column;
}
.Service {
  display: flex;
  background-color: white;
  flex-direction: column;
  padding: 1.5rem;
  align-items: center;
  border-radius: 2rem;
  margin-bottom: 2rem;
  -webkit-box-shadow: 4px 2px 8px 1px #000000;
  box-shadow: 4px 2px 8px 1px #000000;
  transition: box-shadow 0.25s ease;
}
.Service:hover {
  -webkit-box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #aa7e59,
    1px 7px 10px 9px rgba(0, 0, 0, 0.11);
  box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #aa7e59,
    1px 7px 10px 9px rgba(0, 0, 0, 0.11);
}

.Service__Image {
  width: 20rem;
}

.Service__MoreDescription {
  background-color: aliceblue;
  width: 50vw;
  height: 50vh;
  margin-left: 20%;
}
.Service__Title {
  text-align: center;
  font-family: "Open SemiBold";
  font-size: 2rem;
}
.Service__Description {
  text-align: left;
  margin-top: 3rem;
  font-family: "Open Medium";
  line-height: 1.35;
}
.Service__More {
  display: block;
  border: none;
  background-color: transparent;
  width: 20rem;
  height: 3rem;
  margin-top: 1rem;
  border-top: 1px solid gray;
}

