@media (min-width: 768px) {
  .Service {
    flex-direction: row;
  }
  .Service__More {
    height: 18rem;
    border-top: none;
    border-left: 1px solid gray;
  }
  .Coin__Image {
    width: 5rem;
  }
  .Coin__symbol{
    display: block;
  }
}
@media (min-width: 992px) {
  .Service {
    flex-direction: column;
    margin: 0.5rem;
    width: 30rem;
    justify-content: space-around;
  }
  .Service__Title {
    margin-top: 1rem;
  }
  .Services {
    flex-direction: row;
  }
  .Service__Image {
    width: 16rem;
  }
  .Service__More {
    height: 5rem;
    border-left: none;
    border-top: 1px solid gray;
  }
  .rocket {
    height: 85rem;
    width: 85rem;
    transform: rotateZ(0) rotateZ(90deg);
    left: 0;
  }
  .ServiceThings__description {
    position: relative;
    flex-grow: 1;
    height: 30rem;
  }
}
