table {
  border: 3px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
  min-height: 100vh;
}

table caption {
  font-size: 1.5em;
  margin: 2.5em 0 1.75em;
  font-family: "PoppinsMedium";
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #e4dfd8;
}

table th,
table td {
  padding: 0.625em;
  text-align: center;
  font-family: "PoppinsText";
}

table th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
  font-family: "Volkhov";
  text-transform: uppercase;
}

.Coin {
  display: block;
}
.Coin__Image {
  width: 4.5rem;
  transition: 1s all linear 0s;
}
.Coin__symbol {
  font-size: 2.4rem;
  display: none;
  font-family: "Poetsen";
}
td[data-label="At 24H"] {
  direction: ltr;
}
@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 0.625em;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.8em;
    text-align: right;
  }

  table td::before {
    /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }
}
.TableSetting {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  gap: 20rem;
  flex-wrap: wrap;
}
.prANDnumber {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-wrap: wrap;
  align-items: center;
}
.css-wjh20t-MuiPagination-ul {
  position: relative;
  top: 12.5rem;
  left: 3.75rem;
}
.CurANDsearch {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-wrap: wrap;
  margin-bottom: 10rem;
}
.perRow {
  position: relative;
  top: 12rem;
  display: flex;
  justify-content: left;
  align-items: center;
  margin-left: 3rem;
  padding: 1rem;
  border-radius: 4rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0);
  transition: 1s all;
  font-family: "Open Medium";
}
.perRow:hover {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 1px solid black;
}
.perRow__List {
  padding-left: 1rem;
  width: fit-content;
  border: 1px solid rgba(0, 0, 0, 0);
  border-bottom: black solid 1px;
  transition: 1s all ease;
  height: 5rem;
  cursor: pointer;
  background-color: transparent;
  font-family: "Open Medium";
  font-size: 1.5em;
}
.perRow__List:hover {
  border: 1px solid black;
  border-bottom: rgba(0, 0, 0, 0) solid 1px;
  border-radius: 3rem;
  background-color: rgb(253, 249, 243);
}
.perRow__List:focus {
  border-radius: 1rem;
}
.MuiPagination-ul {
  width: fit-content;
}
.kINpuu {
  justify-content: center;
  align-items: center;
  width: 50vw !important;
  margin-left: 25vw;
  height: 70vh;
}
.CryptoSearch {
  margin-left: 20%;
  display: flex;
  flex-wrap: wrap;
  z-index: 1;
}
.CryptoSearch__Search {
  border-radius: 1rem;
  width: 85%;
  border: 1px rgb(202, 196, 196) solid;
  padding: 2rem;
  height: 3rem;
  font-family: "PoppinsText";
}
.CryptoSearch__List {
  background-color: rgb(247, 240, 230);
  overflow-y: scroll;
  height: 20rem;
  width: 30rem;
  border-radius: 2rem;
  font-family: "PoppinsText";
}
.CryptoSearch__List::-webkit-scrollbar {
  width: 12px;
}
.CryptoSearch__List::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #e7e7e7;
  border: 1px solid #c7bcad;
  box-shadow: inset 5px 0 6px rgba(231, 95, 4, 0.466);
}
.CryptoSearch__List::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #363636;
}
.Cryptoitem {
  display: flex;
  padding: 1rem;
  margin: 1rem;
  align-items: center;
  gap: 1rem;
}
.Display--None {
  display: none !important;
}

.Coin {
  border-top-left-radius: 2rem;
  transition: 1s background-color;
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.HoverCoin {
  position: absolute;
  height: 125%;
  line-height: 6;
  width: 100%;
  opacity: 0;
  transition: 0.5s opacity ease-out 1s;
  background-color: rgba(0, 0, 0, 0.5);
}
.Coin:hover .HoverCoin {
  opacity: 1;
}
.Coin:hover .Coin__Image {
  transform: scale(1.25) rotateY(180deg);
}
.HoverCoin__Text {
  font-family: "Poetsen";
}
.gmCHgy {
  position: unset !important;
  flex-grow: 1 !important;
  width: 70% !important;
  margin-left: 15% !important;
  margin-top: 10% !important;
  height: 50% !important;
}
.kALFAT {
  display: block !important;
}
.ChartButtons {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.chartButton {
  border: 2px solid tomato;
  background: none;
  color: tomato;
  cursor: pointer;
  transition: all 0.5s;
  position: relative;
  overflow: hidden;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  font-family: "PoppinsMedium";
}
.chartButton:hover {
  color: white;
}
.chartButton:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: tomato;
  z-index: -1;
  border-radius: 50% 50% 0% 0%;
  height: 0%;
  transition: all 0.5s;
}

.chartButton:hover:before {
  height: 190%;
}
.CoinInfo {
  display: flex;
  align-items: center;
  height: 5vh;
  gap: 1rem;
}
.CoinInfo__Title {
  font-family: "Poetsen";
}
.recharts-legend-item-text {
  font-family: "PoppinsText";
  text-transform: capitalize;
}
.CoinInfo__Image {
  width: 20px;
}
.chartButton.active {
  background-color: tomato;
  color: white;
}
.sc-bmzXxz{
  font-family: "Volkhov";
}