:root {
  --orange: rgb(223, 105, 81);
  --backgroundHomeEffect: rgba(189, 35, 63, 0.5);
  --backgroundImageEffect: rgba(59, 55, 53, 0.5);
  --backgroundImageEffect1: rgb(223, 105, 81);
  --backgroundMenuEffect2: rgb(255, 241, 218);
  --MenuTextColor: rgb(33, 40, 50);
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*:after,
*:before {
  box-sizing: inherit;
}
a {
  text-decoration: none;
}
body {
  font-size: 1.6rem;
}
/*
Headr

*/
header {
  background: linear-gradient(
      var(--backgroundImageEffect),
      var(--backgroundHomeEffect)
    ),
    url("../Assest/ReaPics/CryptoPerson.png");
  background-position: center;
  background-size: cover;
  min-height: 55rem;
  border-bottom-left-radius: 6rem;
  border-bottom-right-radius: 14rem;
}

/*

 * - - - -
*/
.Menu {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Menu__wrapper {
  display: flex;
  align-items: center;
}
.Logo {
  width: 7.95rem;
  height: 5.25rem;
}
.sidebarButton {
  cursor: default;
}
.ExtraInfos {
  display: none;
  position: fixed;
  left: 0;
  font-size: 4rem;
}
.ExtraInfos__Links {
  position: inherit;
  display: block;
  left: -30rem;
  transition: 0.75s all;
}
.ExtraInfos__Links--Activated {
  display: block !important;
  left: 0rem;
}
.Logo__Img {
  width: 100%;
  height: 100%;
}
.Menu__Desktop {
  display: none;
}
.Menu__Desktop > select {
  margin-left: 3rem;
  border-radius: 1rem;
  background-color: rgba(131, 1, 1, 0.082);
  border: none;
  font-family: "open SemiBold";
  font-size: 1.5rem;
  transition: 0.85s all;
  cursor: pointer;
}
.Menu__Desktop > select:hover {
  background-color: rgba(131, 129, 1, 0.459);
}
.Menu__Desktop > select:focus {
  border: none;
  background-color: rgba(177, 116, 2, 0.747);
}

.DesktopMenuList {
  display: flex;
}
.DesktopMenu__item {
  margin: 1rem;
}
.menuitem__link {
  font-family: "Open Medium";
  color: #d2d2d2 !important;
  transition: 0.75s all;
}
.menuitem__link:hover {
  color: var(--orange) !important;
}
.Menu__Mobile {
  width: 20rem;
  height: 100vh;
  position: fixed;
  background: linear-gradient(
    var(--backgroundImageEffect1),
    var(--backgroundMenuEffect2)
  );
  top: 0;
  left: -20rem;
  bottom: 0;
  padding: 1rem;
  transition: 1s all;
}
.Menu__Mobile--Opened {
  left: 0;
}
.MobileMenuList {
  border-bottom: 1px solid white;
  margin-bottom: 2rem;
}
.MobileMenu__item {
  margin: 4rem;
}
.menuitem__link {
  color: var(--MenuTextColor);
  font-family: "Open Medium";
  font-size: 2rem;
}
.MobileMenu__Links {
  display: flex;
  font-family: "Open Medium";
}
.MobileMenu__Link {
  border: 1px solid rgb(112, 112, 112);
  flex-grow: 1;
  text-align: center;
  padding: 0.75rem;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  color: var(--MenuTextColor);
}

.MobileMenu__Link--Border {
  border-top-left-radius: 1rem;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 1rem;
}
.DesktopMenu__Links {
  display: none;
}
.Menu__Link--smaller {
  font-size: 1.5rem;
}
.Menu__Link {
  color: #fff;
  margin: 1rem;
  font-size: 2rem;
}
.Menu__Link:hover {
  color: var(--orange);
  transition: 0.75s all;
}
.Menu__Link.Menu__Link--Border {
  border: 2px solid #fff;
  padding: 1rem 2rem;
  border-radius: 10rem;
  transition: 0.75s all;
}
.Menu__Link.Menu__Link--Border:hover {
  border: 2px solid #cabe0c;
}
.Language {
  color: rgb(226, 224, 235);
  width: 12rem;
  padding: 0.5rem;
  border: none;
  border-right: 4px solid rgb(223, 85, 31);
  border-bottom-right-radius: 1rem;
  border-top-right-radius: 1rem;
  border-top-left-radius: 0.4em;
  border-bottom-left-radius: 0.4rem;
  background-color: rgba(199, 0, 66, 0.432);
  font-family: "Open Medium";
}
.DesktopLanguage {
  width: 5rem;
}
.Menu__MobileHamburger {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  width: 5rem;
  height: 5rem;
  border-radius: 2rem;
}
.hamburgerLine {
  display: block;
  width: 3rem;
  height: 0.32rem;
  border-radius: 5rem;
  background-color: var(--orange);
  position: relative;
  transition: 250ms all;
}
.hamburgerLine::after,
.hamburgerLine::before {
  content: " ";
  width: 3rem;
  height: 0.32rem;
  border-radius: 5rem;
  background-color: var(--orange);
  position: absolute;
  transition: 450ms all;
}
.hamburgerLine::after {
  top: -0.8rem;
}
.hamburgerLine::before {
  top: 0.8rem;
}
.Menu__MobileHamburger--Opened > .hamburgerLine {
  background-color: transparent;
}
.Menu__MobileHamburger--Opened > .hamburgerLine::before {
  transform: rotate(-35deg) translateY(-9px);
  width: 3.85rem;
}
.Menu__MobileHamburger--Opened > .hamburgerLine::after {
  transform: rotate(35deg) translateY(9px);
  width: 3.85rem;
}
.GeoInfo {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.Nationality {
  width: 1.5rem;
  margin-right: 1rem;
}
.GeoInfo__Text {
  font-weight: 600;
  margin-bottom: 1rem;
  display: block;
}
.GeoInfo__Items {
  font-size: 1.5rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.manual-country {
  padding: 10px;
  font-size: 1.3rem;
  text-align: right;
  border: 1px solid #dbc2d7;
  border-radius: 4px;
  width: 100%;
  max-width: 300px;
  background-color: #fff;
  cursor: pointer;
}
