@font-face {
  font-family: "Open Sans";
  font-weight: 500;
  src: url("../../src/fonts/Open_Sans/static/OpenSans-Medium.ttf")
    format(truetype);
}
@font-face {
  font-family: "Open Sans";
  font-weight: 600;
  src: url("../../src/fonts/Open_Sans/static/OpenSans-SemiBold.ttf")
    format(truetype);
}
@font-face {
  font-family: "Poppins";
  font-weight: 700;
  src: url("../../src/fonts/Poppins/Poppins-Bold.ttf") format(truetype);
}
@font-face {
  font-family: "Poppins";
  font-weight: 500;
  src: url("../../src/fonts/Poppins/Poppins-Medium.ttf") format(truetype);
}
@font-face {
  font-family: "Poppins";
  font-weight: 400;
  src: url("../../src/fonts/Poppins/Poppins-Regular.ttf") format(truetype);
}
@font-face {
  font-family: "Poppins";
  font-weight: 600;
  src: url("../../src/fonts/Poppins/Poppins-SemiBold.ttf") format(truetype);
}
@font-face {
  font-family: "Volkhov";
  font-weight: 700;
  src: url("../../src/fonts/Volkhov/Volkhov-Bold.ttf") format(truetype);
}
