.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 57.6rem) {
  .container {
    width: 54rem;
  }
}
@media (min-width: 76.8rem) {
  .container {
    width: 72rem;
  }
}
@media (min-width: 99.2rem) {
  .container {
    width: 96rem;
  }
}
@media (min-width: 120rem) {
  .container {
    width: 184rem;
  }
}
@media (min-width: 140rem) {
  .container {
    width: 137rem;
  }
}
