@media (min-width: 768px) {
  .Menu__MobileHamburger {
    display: none;
  }
  .Menu__Desktop {
    display: flex;
    justify-content: center;
  }

  .DesktopMenu__Links {
    display: block;
  }
  header {
    background: linear-gradient(rgba(59, 55, 53, 0.6), #bd542380),
      url(../Assest/ReaPics/TradeGuy.jpg);
    background-position: center;
    background-size: cover;
  }
  .ExtraInfos {
    display: block;
    top: 5rem;
  }
  .DesktopMenu__Links {
    display: none;
  }
  .TypingStories1 {
    font-size: 2.25rem;
  }
}
@media (min-width: 992px) {
  .DesktopMenu__Links {
    display: block;
  }
  .ExtraInfos {
    display: none;
  }
  .TypingStories1 {
    font-size: 2.75rem;
  }
}
@media (min-width: 1200px) {
  .TypingStories1 {
    font-size: 3.75rem;
  }
}
@media (min-width: 1400px) {
  .TypingStories1 {
    font-size: 4.75rem;
  }
}
