@media(min-width:410px){
  .HomeDescription__Playtitle{
    padding-right: 1rem;
  }
  .HomeDescription{
    width: 100%;
  }
}
@media (min-width: 768px) {
  .Menu__Mobile {
    display: none;
  }
  .Menu__MobileHamburger {
    display: none;
  }
  .Menu__Desktop {
    display: flex;
    justify-content: center;
  }
  .menuitem__link {
    display: block;
  }
  .menuitem__link::before {
    position: absolute;
    top: 2.5rem;
    left: 15%;
  }
  .HoveredMenuItem.menuitem__link::before {
    width: 70%;
  }
  .DesktopMenu__Links {
    display: block;
  }
  header {
    background: linear-gradient(rgba(59, 55, 53, 0.6), #bd542380),
      url(../Assest/ReaPics/TradeGuy.jpg);
    background-position: center;
    background-size: cover;
  }
  .ExtraInfos {
    display: block;
    top: 5rem;
  }
  .DesktopMenu__Links {
    display: none;
  }
  .TypingStories1 {
    font-size: 2.25rem;
  }
  .HomeDescription__Playtitle {
    font-size: 3rem;
  }
}
@media (min-width: 992px) {
  .DesktopMenu__Links {
    display: block;
  }
  .ExtraInfos {
    display: none;
  }
  .TypingStories1 {
    font-size: 2.75rem;
  }
}
@media (min-width: 1200px) {
  .TypingStories1 {
    font-size: 3.75rem;
  }
}
@media (min-width: 1400px) {
  .TypingStories1 {
    font-size: 4.75rem;
  }
}
