/*
 =============================
 + GENERAL
 === === === === === === =====
*/
header {
  background: linear-gradient(
      var(--backgroundImageEffect),
      var(--backgroundHomeEffect)
    ),
    url("../../Assest/ReaPics/CryptoPerson.png");
  background-position: center;
  background-size: cover;
  min-height: var(--headerHeight);
  border-bottom-left-radius: var(--borderRadius);
  border-bottom-right-radius: var(--borderRadius);
}
/*
 =============================
 NavBar Section
 === === === === === === =====
*/
.Menu {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Menu__wrapper {
  display: flex;
  align-items: center;
}
.Logo {
  width: 7.95rem;
  height: 5.25rem;
}
.sidebarButton {
  cursor: default;
}
.ExtraInfos {
  display: none;
  position: fixed;
  left: 0;
  font-size: 4rem;
}
.ExtraInfos__Links {
  position: inherit;
  display: block;
  left: -30rem;
  transition: 0.75s all;
}
.ExtraInfos__Links--Activated {
  display: block !important;
  left: 0rem;
}
.Logo__Img {
  width: 100%;
  height: 100%;
}
/*
 =============================
 Desktop NavBar Section
 === === === === === === =====
*/
.Menu__Desktop {
  display: none;
}
.DesktopMenuList {
  display: flex;
}
.DesktopMenu__item {
  margin: var(--menuItemMargin);
}
.DesktopMenu__item.DesktopMenu__item--NowOn {
  position: relative;
}
.DesktopMenu__item.DesktopMenu__item--NowOn::before {
  background-color: var(--orange);
  content: "";
  width: 85%;
  left: 0;
  top: 2.3rem;
  right: 0;
  margin: 0 auto;
  height: 0.2rem;
  display: block;
  position: absolute;
}
.menuitem__link {
  font-family: "Open Medium";
  color: var(--lightGray) !important;
  transition: 0.25s all;
}
.menuitem__link:hover {
  color: var(--orange) !important;
}
.Menu__Desktop > select {
  margin-left: 3rem;
  border-radius: 1rem;
  background-color: var(--blue);
  border: none;
  font-family: "open SemiBold";
  font-size: 1.5rem;
  transition: 0.85s all;
  cursor: pointer;
}

.Menu__Desktop > select:hover {
  background-color: var(--hoverBlue);
}
.Menu__Desktop > select:focus {
  border: none;
  background-color: var(--focusBlue);
}
/*
 =============================
 Mobile NavBar Section
 === === === === === === =====
*/
.Menu__Mobile {
  width: 20rem;
  position: fixed;
  background: linear-gradient(
    var(--backgroundImageEffect1),
    var(--backgroundMenuEffect2)
  );
  top: 0;
  left: -20rem;
  bottom: 0;
  padding: 1rem;
  transition: 0.5s all;
}
.Menu__Mobile--Opened {
  z-index: 10000;
  left: 0;
}
.MobileMenuList {
  border-bottom: 1px solid var(--white);
  margin-bottom: 2rem;
}
.MobileMenu__item {
  margin: 2.25rem;
}
.MobileMenu__Links {
  display: flex;
  font-family: "Open Medium";
}
.MobileMenu__Link {
  border: 1px solid var(--darkGray);
  flex-grow: 1;
  text-align: center;
  padding: 0.75rem;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  color: var(--MenuTextColor);
}
.MobileMenu__Link--Border {
  border-top-left-radius: 1rem;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 1rem;
}
.menuitem__link {
  color: var(--MenuTextColor);
  font-family: "Open Medium";
  font-size: var(--defaultFontSize);
  display: flex;
  align-items: center;
  height: 30px;
  justify-content: center;
  gap: 1rem;
  position: relative;
}
.menuitem__link::before {
  transition: 0.5s all;
  display: block;
  width: 0rem;
  height: 7.35%;
  background-color: var(--lightGray);
  content: " ";
  left: -0.5rem;
}
.HoveredMenuItem.menuitem__link::before {
  width: 2.35rem;
}
.DesktopMenu__Links {
  display: none;
}
.Menu__Link--smaller {
  font-size: var(--fontSizeSmall);
}
.Menu__Link {
  color: var(--white);
  margin: var(--menuItemMargin);
  font-size: var(--defaultFontSize);
}
.Menu__Link:hover {
  color: var(--orange);
  transition: 0.25s all;
}
.Menu__Link.Menu__Link--Border {
  border: 2px solid var(--white);
  padding: 1rem 2rem;
  border-radius: 10rem;
  transition: 0.25s all;
}
.Menu__Link.Menu__Link--Border:hover {
  border: 2px solid var(--hoverGrayBorder);
}
/*
 =============================
 Web Language Section
 === === === === === === =====
*/
.Language {
  color: rgb(226, 224, 235);
  width: 12rem;
  padding: 0.5rem;
  border: none;
  border-right: 4px solid var(--orange);
  border-bottom-right-radius: 1rem;
  border-top-right-radius: 1rem;
  border-top-left-radius: 0.4em;
  border-bottom-left-radius: 0.4rem;
  background-color: rgba(199, 0, 66, 0.432);
  font-family: "Open Medium";
}
.DesktopLanguage {
  width: 5rem;
}
/*
 =============================
 - -Mobile Hamburger Menu
 === === === === === === =====
*/
.Menu__MobileHamburger {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  width: 5rem;
  height: 5rem;
  border-radius: 2rem;
}
.hamburgerLine {
  display: block;
  width: 3rem;
  height: 0.32rem;
  border-radius: 5rem;
  background-color: var(--orange);
  position: relative;
  transition: 250ms all;
}
.hamburgerLine::after,
.hamburgerLine::before {
  content: " ";
  width: 3rem;
  height: 0.32rem;
  border-radius: 5rem;
  background-color: var(--orange);
  position: absolute;
  transition: 450ms all;
}
.hamburgerLine::after {
  top: -0.8rem;
}
.hamburgerLine::before {
  top: 0.8rem;
}
.Menu__MobileHamburger--Opened > .hamburgerLine {
  background-color: transparent;
}
.Menu__MobileHamburger--Opened > .hamburgerLine::before {
  transform: rotate(-35deg) translateY(-9px);
  width: 3.85rem;
}
.Menu__MobileHamburger--Opened > .hamburgerLine::after {
  transform: rotate(35deg) translateY(9px);
  width: 3.85rem;
}
/*
 =============================
 Geo / Flag / IP Related Things
 === === === === === === =====
*/
.GeoInfo {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.Nationality {
  width: var(--geoInfoWidth);
  margin-right: 1rem;
}
.GeoInfo__Text {
  font-weight: 600;
  margin-bottom: 1rem;
  display: block;
}
.GeoInfo__Items {
  font-size: var(--fontSizeLarge);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.manual-country {
  padding: var(--manualCountryPadding);
  font-size: var(--fontSizeXL);
  text-align: right;
  border: var(--manualCountryBorder);
  border-radius: var(--manualCountryBorderRadius);
  width: 100%;
  max-width: var(--manualCountryMaxWidth);
  background-color: var(--white);
  cursor: pointer;
}
/*
 =============================
 - -Home Description (Content Of Header)
 === === === === === === =====
*/
.HomeDescription {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  background: radial-gradient(var(--lightPink), var(--teal));
  border-bottom-right-radius: var(--borderRadiusLarge);
  border-bottom-left-radius: var(--borderRadiusLarge);
}
.HomeDescription__Title {
  font-family: "Volkhov";
  color: var(--darkBlue);
  letter-spacing: 0.1rem;
  line-height: 1.25;
  font-size: var(--defaultFontSize);
  text-align: center;
  margin-top: 10rem;
}
.HomeDescription__Description {
  font-family: "PoppinsMedium";
  font-size: var(--fontSizeMedium);
  margin-top: 2rem;
  color: var(--grayText);
  z-index: 1;
  position: relative;
}
.HomeDescription__Description::before {
  content: "";
  width: 37rem;
  height: 1.5rem !important;
  display: block;
  background: url("../../Assest/Images/BackOfText.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: -0.5rem;
  top: 0.5rem;
  z-index: -1;
}
.TypingStories1 {
  margin: 30px;
  letter-spacing: 0.1rem;
  font-family: "Poetsen";
  font-size: var(--fontSizeLarge);
}
.LinkANDVideo {
  display: flex;
  align-items: center;
}
.HomeDescription__Link {
  background-color: var(--yellow);
  border-radius: 1rem;
  height: fit-content;
  padding: 1rem;
  color: var(--white);
  font-family: "Open Medium";
  margin-top: -3rem;
  transition: 0.25s all;
  font-size: var(--defaultFontSize);
}
.HomeDescription__Link:hover {
  background-color: var(--lightYellow);
}
.HomeDescription__Video {
  display: flex;
  align-items: center;
  margin-right: -1.25rem;
}
.HomeDescriptionVideo__Play {
  z-index: 0;
  width: 25rem;
  margin-left: -1rem;
}
.HomeDescription__Playtitle {
  font-family: "PoppinsMedium";
  font-size: var(--fontSizeMedium);
  margin-left: -8.5rem;
  margin-top: -3rem;
  color: #686d77;
  cursor: pointer;
  transition: 0.25s all;
  z-index: 1;
}

.HomeDescription__Playtitle:hover {
  color: #3a3d42;
}
/*
 =============================
 Modal For Demo Section
 === === === === === === =====
*/
.ReactModal__Overlay {
  z-index: 1;
}
.player-container {
  width: var(--playerContainerWidth);
  inset: 50% auto auto 44% !important;
}
.ReactModal__Content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.player {
  padding-bottom: 56.25%;
  box-shadow: 0px 20px 3px -7px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  background: var(--black);
  border-radius: var(--playerBorderRadius);
  border-top-left-radius: var(--playerBorderRadiusLarge);
}
.player:fullscreen {
  padding-bottom: 100vh;
}
.player:-webkit-full-screen {
  padding-bottom: 100vh;
}
.player:-moz-full-screen {
  padding-bottom: 100vh;
}
.player:-ms-fullscreen {
  padding-bottom: 100vh;
}
.player video {
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.controls {
  padding: 0;
  position: absolute;
  bottom: -80px;
  width: 100%;
  height: 48px;
  box-sizing: border-box;
  background: linear-gradient(
    180deg,
    var(--gradientLight) 65%,
    var(--gradientDark) 90%
  );
  transition: all 0.2s ease-in 5s;
}
.player:hover .controls {
  bottom: 0;
  transition: all 0.2s ease-out;
}
.time {
  position: absolute;
  right: 20px;
  bottom: 115%;
  background-color: var(--timeBackground);
  border-bottom-left-radius: 30rem;
  border-top-left-radius: 30rem;
  padding: 10px;
  padding-bottom: 14px;
}
.progress {
  cursor: pointer;
  height: var(--progressHeight);
  width: calc(100% - 40px);
  background: var(--hoverGray);
  margin: auto;
  border-radius: 6px;
  position: absolute;
  left: 20px;
  bottom: 100%;
  transition: height 0.2s ease-in-out;
}
.progress:hover {
  height: var(--progressHeightHover);
}
.progress-filled {
  background: var(--accent);
  width: 0%;
  height: 100%;
  border-radius: 6px;
  transition: all 0.2s;
}
.controls-main {
  width: calc(100%);
  margin: auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.controls-left,
.controls-right {
  display: flex;
  align-items: center;
  overflow: hidden;
}
.controls-left {
  margin-left: 3px;
}
.controls-right {
  margin-right: 3px;
  justify-content: flex-end;
}
.volume {
  cursor: pointer;
  display: flex;
  align-items: center;
}
.volume-btn {
  margin-right: 3px;
  transition: 0.3s all;
}
.volume-btn:hover {
  transform: scale(1.3);
}
.volume-btn #volume-off,
.volume-btn #volume-high {
  opacity: 0;
}
.volume-btn.loud #volume-high {
  opacity: 1;
}
.volume-btn.muted #volume-off {
  opacity: 1;
}
.volume-btn.muted #volume-high,
.volume-btn.muted #volume-low {
  opacity: 0;
}
.volume-slider {
  height: var(--volumeHeight);
  width: var(--volumeWidth);
  background: var(--lightGrayBorder);
  border-radius: 6px;
  position: relative;
}
.volume-filled {
  background: var(--main);
  width: 100%;
  height: 100%;
  border-radius: 6px;
  transition: width 0.2s ease-in-out;
}
.volume-filled:hover,
.play-btn:hover.play-btn:before,
.play-btn:hover.play-btn:after {
  transition: 0.5s all;
  background: var(--accent);
}
.play-btn {
  width: var(--playButtonWidth);
  height: var(--playButtonHeight);
  position: relative;
  cursor: pointer;
  margin: auto;
  transform: rotate(-90deg) scale(0.8);
  transition: -webkit-clip-path 0.3s ease-in 0.1s,
    shape-inside 0.3s ease-in 0.1s,
    transform 0.8s cubic-bezier(0.85, -0.25, 0.25, 1.425);
}
.play-btn.paused {
  transform: rotate(0deg);
}
.play-btn:before,
.play-btn:after {
  content: "";
  position: absolute;
  background: var(--white);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: inherit;
}
.play-btn:before {
  -webkit-clip-path: polygon(0 10%, 100% 10%, 100% 40%, 0 40%);
  clip-path: polygon(0 10%, 100% 10%, 100% 40%, 0 40%);
}
.play-btn:after {
  -webkit-clip-path: polygon(0 60%, 100% 60%, 100% 90%, 0 90%);
  clip-path: polygon(0 60%, 100% 60%, 100% 90%, 0 90%);
}
.play-btn.paused:before {
  -webkit-clip-path: polygon(10% 0, 90% 51%, 90% 51%, 10% 51%);
  clip-path: polygon(10% 0, 90% 51%, 90% 51%, 10% 51%);
}
.play-btn.paused:after {
  -webkit-clip-path: polygon(10% 49.5%, 80% 49.5%, 90% 49.5%, 10% 100%);
  clip-path: polygon(10% 49.5%, 80% 49.5%, 90% 49.5%, 10% 100%);
}
button:focus {
  outline: none;
}
.speed-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin-right: 20px;
  text-align: center;
}
.speed-list li {
  color: var(--main);
  cursor: pointer;
  transition: 0.5s all;
  font-size: 1rem;
}
.speed-list li:hover,
.speed-list li.active {
  color: var(--accent);
  font-weight: bold;
}
.fullscreen {
  display: flex;
  justify-content: center;
  cursor: pointer;
  width: var(--fullscreenWidth);
  transition: 0.5s all;
}
.fullscreen:hover {
  transform: var(--fullscreenHoverTransform);
  padding: 10px;
}
.DemoDescription {
  font-family: "PoppinsText";
  line-height: 1.5;
  letter-spacing: 0.1rem;
  font-size: var(--demoDescriptionFontSize);
}
.sc-cwHqhk {
  transition: all 0.75s;
}

